<!DOCTYPE html>
<html lang="zh-CN">

<head>
  @@include("head.html", { "title": "出价记录 | 竞拍", "cssname": "record" })
</head>

<body>
  <section class="record mid-wrap">
    @@include("header.html", { "headType" : 2, "nav" : "出价记录" })
    <ul class="record__list">
      <li class="record__item record__item--on">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">领先</div>
        <div class="address">北京</div>
        <div class="price">￥5.5</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.4</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.3</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.4</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.3</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.4</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.3</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.4</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.3</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.4</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉请叫我哥斯拉请叫我哥斯</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.3</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.4</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.3</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.4</div>
      </li>
      <li class="record__item">
        <div class="pic"><img src="http://is2.mzstatic.com/image/thumb/Purple18/v4/f8/8f/ba/f88fbafc-e2ba-772d-df02-e56b07b94503/source/512x512bb.jpg" alt=""></div>
        <div class="name">请叫我哥斯拉</div>
        <div class="status">出局</div>
        <div class="address">北京</div>
        <div class="price">￥5.3</div>
      </li>
    </ul>
  </section>
  <!-- script -->
  @@include("script.html", { "jsname": "record"})
</body>

</html>