<!DOCTYPE html>
<html lang="zh-CN">

<head>
  @@include("head.html", { "title": "客服中心 | 竞拍", "cssname": "message-item" })
</head>

<body>
  <section class="message-item mid-wrap">
    @@include("header.html", { "headType" : 2, "nav" : "消息详情" })
    <h1 class="message-item__tt">消费提醒</h1>
    <p class="message-item__time">2017-10-8 16:49</p>
    <p class="message-item__ct">您在竞拍“Apple iPad Pro 128G WIFI版12.9寸 无鼠标键盘 颜色随机”时已消耗5赠币，进入账号余额可查看明细</p>
  </section>
  <!-- script -->
  @@include("script.html", { "jsname": "message-item"})
</body>

</html>