<!DOCTYPE html>
<html lang="zh-CN">

<head>
  @@include("head.html", { "title": "分类 | 竞拍", "cssname": "list" })
</head>

<body>
  <section class="list mid-wrap">
    @@include("header.html", { "headType" : 1, "nav" : 3 })
    <div class="list__wrap">
      <div class="list__left">
        <ul class="list__cate-list">
          <li class="list__cate-item list__cate-item--on"><a href="">全部</a></li>
          <li class="list__cate-item"><a href="">百元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
          <li class="list__cate-item"><a href="">十元专区</a></li>
        </ul>
      </div>
      <div class="list__right">
        <div class="list__goods-list">
          <dl class="list__goods-item">
            <dt class="list__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></dt>
            <dd class="list__info">
              <p class="list__info-name">Apple iPad Pro 128G WIFI版 128G xxxx</p>
              <div class="list__info-oper"><span>&yen;123.00</span><a href="./item.html" class="btn">竞拍</a></div>
            </dd>
          </dl>
          <dl class="list__goods-item">
            <dt class="list__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></dt>
            <dd class="list__info">
              <p class="list__info-name">Apple iPad Pro 128G WIFI版 128G xxxx</p>
              <div class="list__info-oper"><span>&yen;123.00</span><a href="./item.html" class="btn">竞拍</a></div>
            </dd>
          </dl>
          <dl class="list__goods-item">
            <dt class="list__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></dt>
            <dd class="list__info">
              <p class="list__info-name">Apple iPad Pro 128G WIFI版 128G xxxx</p>
              <div class="list__info-oper"><span>&yen;123.00</span><a href="./item.html" class="btn">竞拍</a></div>
            </dd>
          </dl>
          <dl class="list__goods-item">
            <dt class="list__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></dt>
            <dd class="list__info">
              <p class="list__info-name">Apple iPad Pro 128G WIFI版 128G xxxx</p>
              <div class="list__info-oper"><span>&yen;123.00</span><a href="./item.html" class="btn">竞拍</a></div>
            </dd>
          </dl>
          <dl class="list__goods-item">
            <dt class="list__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></dt>
            <dd class="list__info">
              <p class="list__info-name">Apple iPad Pro 128G WIFI版 128G xxxx</p>
              <div class="list__info-oper"><span>&yen;123.00</span><a href="./item.html" class="btn">竞拍</a></div>
            </dd>
          </dl>
          <dl class="list__goods-item">
            <dt class="list__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></dt>
            <dd class="list__info">
              <p class="list__info-name">Apple iPad Pro 128G WIFI版 128G xxxx</p>
              <div class="list__info-oper"><span>&yen;123.00</span><a href="./item.html" class="btn">竞拍</a></div>
            </dd>
          </dl>
          <dl class="list__goods-item">
            <dt class="list__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></dt>
            <dd class="list__info">
              <p class="list__info-name">Apple iPad Pro 128G WIFI版 128G xxxx</p>
              <div class="list__info-oper"><span>&yen;123.00</span><a href="./item.html" class="btn">竞拍</a></div>
            </dd>
          </dl>
          <dl class="list__goods-item">
            <dt class="list__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></dt>
            <dd class="list__info">
              <p class="list__info-name">Apple iPad Pro 128G WIFI版 128G xxxx</p>
              <div class="list__info-oper"><span>&yen;123.00</span><a href="./item.html" class="btn">竞拍</a></div>
            </dd>
          </dl>
        </div>
        <div class="more-load">我是有底线的</div>
        @@include("nav.html", { "nav" : 3 })
      </div>
    </div>
  </section>
  <!-- script -->
  @@include("script.html", { "jsname": "list"})
</body>

</html>