<!DOCTYPE html>
<html lang="zh-CN">

<head>
  @@include("head.html", { "title": "充值中心 | 竞拍", "cssname": "recharge" })
</head>

<body>
  <section class="recharge mid-wrap">
    @@include("header.html", { "headType" : 2, "nav" : "充值中心" })
    <form class="recharge__form" action="">
      <div class="recharge__form-item">
        <div class="recharge__tt">选择充值金额</div>
        <ul class="recharge__money">
          <li class="recharge__money-item recharge__money-item--on">20</li>
          <li class="recharge__money-item">50</li>
          <li class="recharge__money-item">100</li>
          <li class="recharge__money-item">300</li>
          <li class="recharge__money-item">500</li>
          <li class="recharge__money-item"><input type="text" placeholder="其他金额"></li>
        </ul>
        <div class="recharge__result"><span>预计获得</span><span class="recharge__price">0拍币</span></div>
      </div>
      <div class="recharge__form-item">
        <div class="recharge__tt">选择支付方式</div>
        <ul class="recharge__way">
          <li class="recharge__way-item recharge__way-item--on"><i class="icon"></i><span>支付宝（2元以上）</span></li>
          <li class="recharge__way-item"><i class="icon"></i><span>微信</span></li>
        </ul>
      </div>
      <div class="recharge__form-item">
        <div class="recharge__protocol"><input class="recharge__check" type="checkbox">我已同意<a href="">《用户协议》</a></div>
      </div>
      <div class="recharge__form-item">
        <a class="recharge__submit" href="">确认充值</a>
      </div>
    </form>
  </section>
  <!-- script -->
  @@include("script.html", { "jsname": "recharge"})
</body>

</html>