@charset "utf-8";

/*-----------------
 * zhangzhensheng
 * 2017-09-20
 *-----------------*/
@import '../../widgets/common';
@import '../../widgets/nav';
@import '../../widgets/header';

.new {
  background: #f5f3f2;
  &__notify {
    padding: .1rem 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    font-size: 0.28rem;
    text-indent: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__list {
    padding: 0 .2rem;
    background: #fff;
  }
  &__item {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ebebeb;
    padding: .3rem 0;
    background: #fff;
  }
  &__info {
    margin-left: .1rem;
    width: 3rem;
    line-height: 0.36rem;
    font-size: 0.26rem;
  }
  &__oper {
    line-height: 0.42rem;
    text-align: right;
    .btn {
      display: inline-block;
      margin: .4rem auto 0;
      width: 90%;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      background: red;
      color: #fff;
    }
    .time {
      font-size: 0.24rem;
    }
    .discount {
      flex: 1;
      margin-top: .1rem;
      font-size: 0.24rem;
      em {
        margin-left: .1rem;
        font-size: 0.6rem;
        vertical-align: sub;
      }
    }
  }
  &__img {
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}