<!DOCTYPE html>
<html lang="zh-CN">

<head>
  @@include("head.html", { "title": "最新成交 | 竞拍", "cssname": "new" })
</head>

<body>
  <section class="new mid-wrap">
    @@include("header.html", { "nav" : 2 })
    <div class="new__notify">
      <ul class="list">
        <li class="item">恭喜 188****0292 以 &yen;6.60 拍到iphone X</li>
      </ul>
    </div>
    <ul class="new__list">
      <li class="new__item">
        <div class="new__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></div>
        <div class="new__info">
          <p>成交人：&nbsp;我的昵称</p>
          <p>用户ID：&nbsp;123123123</p>
          <p>拍卖价：&nbsp;&yen;12.12</p>
        </div>
        <div class="new__oper">
          <p class="time">2017-09-20 17:38</p>
          <p class="discount">节省<em>90.1%</em></p>
          <a href="./item.html" class="btn">参与竞拍</a>
        </div>
      </li>
      <li class="new__item">
        <div class="new__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></div>
        <div class="new__info">
          <p>成交人：我的昵称</p>
          <p>用户ID：123123123</p>
          <p>拍卖价：&yen;12.12</p>
        </div>
        <div class="new__oper">
          <p class="time">2017-09-20 17:38</p>
          <p class="discount">节省<em>90.1%</em></p>
          <a href="./item.html" class="btn">参与竞拍</a>
        </div>
      </li>
      <li class="new__item">
        <div class="new__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></div>
        <div class="new__info">
          <p>成交人：我的昵称</p>
          <p>用户ID：123123123</p>
          <p>拍卖价：&yen;12.12</p>
        </div>
        <div class="new__oper">
          <p class="time">2017-09-20 17:38</p>
          <p class="discount">节省<em>90.1%</em></p>
          <a href="./item.html" class="btn">参与竞拍</a>
        </div>
      </li>
      <li class="new__item">
        <div class="new__img"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></div>
        <div class="new__info">
          <p>成交人：我的昵称</p>
          <p>用户ID：123123123</p>
          <p>拍卖价：&yen;12.12</p>
        </div>
        <div class="new__oper">
          <p class="time">2017-09-20 17:38</p>
          <p class="discount">节省<em>90.1%</em></p>
          <a href="./item.html" class="btn">参与竞拍</a>
        </div>
      </li>
    </ul>
    <div class="more-load">我是有底线的</div>
    @@include("nav.html", { "nav" : 2 })
  </section>
  <!-- script -->
  @@include("script.html", { "jsname": "new"})
</body>

</html>