@charset "utf-8";

/*-----------------
 * zhangzhensheng
 * 2017-09-20
 *-----------------*/
@import '../../widgets/common';
@import '../../widgets/nav';

.new {
  &__notify {
    padding: .1rem 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    font-size: 0.28rem;
    text-indent: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}