<!DOCTYPE html>
<html lang="zh-CN">

<head>
  @@include("head.html", { "title": "新手指南 | 竞拍", "cssname": "guide" })
</head>

<body>
  <section class="guide mid-wrap">
    @@include("header.html", { "headType" : 2, "nav" : "新手指南" })
    <img src="http://image.bitauto.com/dealer/news/100047055/a82fbea2-6a7d-4eaf-a470-44cdf241f296.jpg" alt="">
    <img src="http://house.zynews.com/UploadFiles/201312/2013123136861141.jpg" alt="">
    <img src="http://image.bitauto.com/dealer/news/100047055/a82fbea2-6a7d-4eaf-a470-44cdf241f296.jpg" alt="">
    <img src="http://house.zynews.com/UploadFiles/201312/2013123136861141.jpg" alt="">
    <img src="http://image.bitauto.com/dealer/news/100047055/a82fbea2-6a7d-4eaf-a470-44cdf241f296.jpg" alt="">
    <img src="http://house.zynews.com/UploadFiles/201312/2013123136861141.jpg" alt="">
  </section>
  <!-- script -->
  @@include("script.html", { "jsname": "guide"})
</body>

</html>