<!DOCTYPE html>
<html lang="zh-CN">

<head>
  @@include("head.html", { "title": "晒单 | 竞拍", "cssname": "evaluate" })
</head>

<body>
  <section class="evaluate mid-wrap">
    @@include("header.html", { "headType" : 2, "nav" : "晒单分享" })
    <ul class="evaluate__list">
      <li class="evaluate__item">
        <a class="evaluate__link" href="./evaluate-item.html"></a>
        <div class="evaluate__item-left"><img src="" alt=""></div>
        <div class="evaluate__item-right">
          <div class="evaluate__item-name">我的昵称<span class="time">09-21 17:23</span></div>
          <div class="evaluate__item-ct">我的电脑好我的电脑好我的电脑好我的电脑好</div>
          <ul class="evaluate__item-ct">
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
          </ul>
        </div>
      </li>
      <li class="evaluate__item">
        <a class="evaluate__link" href="./evaluate-item.html"></a>
        <div class="evaluate__item-left"><img src="" alt=""></div>
        <div class="evaluate__item-right">
          <div class="evaluate__item-name">我的昵称<span class="time">09-21 17:23</span></div>
          <div class="evaluate__item-ct">我的电脑好我的电脑好我的电脑好我的电脑好</div>
          <ul class="evaluate__item-ct">
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
          </ul>
        </div>
      </li>
      <li class="evaluate__item">
        <a class="evaluate__link" href="./evaluate-item.html"></a>
        <div class="evaluate__item-left"><img src="" alt=""></div>
        <div class="evaluate__item-right">
          <div class="evaluate__item-name">我的昵称<span class="time">09-21 17:23</span></div>
          <div class="evaluate__item-ct">我的电脑好我的电脑好我的电脑好我的电脑好</div>
          <ul class="evaluate__item-ct">
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
          </ul>
        </div>
      </li>
      <li class="evaluate__item">
        <a class="evaluate__link" href="./evaluate-item.html"></a>
        <div class="evaluate__item-left"><img src="" alt=""></div>
        <div class="evaluate__item-right">
          <div class="evaluate__item-name">我的昵称<span class="time">09-21 17:23</span></div>
          <div class="evaluate__item-ct">我的电脑好我的电脑好我的电脑好我的电脑好</div>
          <ul class="evaluate__item-ct">
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
            <li class="evaluate__item-pic"><img src="http://www.yeedee.com.cn/upload/cffb628c-2738-4d51-833b-cefee792b47b.JPG" alt=""></li>
          </ul>
        </div>
      </li>
    </ul>
  </section>
  <!-- script -->
  @@include("script.html", { "jsname": "evaluate"})
</body>

</html>