@charset "utf-8";

/*-----------------
 * zhangzhensheng
 * 2017-09-20
 *-----------------*/
@import '../../widgets/common';
@import '../../widgets/nav';

.index {
  background-color: #f5f3f2;
  &__slider {
    max-width: 7.5rem;
    height: 3.66rem;
    overflow: hidden;
    background: #fff;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
  &__entry {
    display: flex;
    padding-bottom: .2rem;
    background: #fff;
    &-item {
      flex: 1;
      text-align: center;
      font-size: 0.28rem;
      color: #000;
      img {
        display: block;
        margin: .4rem auto .1rem;
        border-radius: 50%;
        border: none;
        width: 0.7rem;
        height: 0.7rem;
        background: orange;
      }
    }
  }
  &__notify {
    padding: .1rem 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    font-size: 0.28rem;
    text-indent: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__hot {
    display: flex;
    background: #fff;
    &-goods {
      flex: 1;
      margin: .3rem 0;
      font-size: 0.28rem;
      color: #000;
      text-align: center;
      img {
        width: 100%;
        height: 2.5rem;
        vertical-align: bottom;
      }
      span {
        display: inline-block;
        width: 100%;
      }
      .yen {
        margin: .2rem 0;
        color: red;
      }
    }
  }
  &__auction {
    margin-top: .2rem;
    background: #fff;
    &-tab {
      display: flex;
      border-bottom: 1px solid #ebebeb;
      a {
        flex: 1;
        color: #000;
        font-size: 0.28rem;
        line-height: 0.8rem;
        text-align: center;
      }
      .on {
        color: red;
      }
    }
    &-list {
      display: flex;
      flex-wrap: wrap;      
    }
    &-item {
      width: 50%;
      box-sizing: border-box;
      padding: .3rem 0;
      border-bottom: 1px solid #ebebeb;
      text-align: center;
      font-size: 0.28rem;
      line-height: 0.54rem;
      &:nth-child(2n-1) {
        border-right: 1px solid #ebebeb;
      }
      img,
      span {
        display: inline-block;
        width: 100%;
        vertical-align: bottom;
        text-align: center;
      }
      .price,
      .time {
        color: red;
      }
      .time {
        margin-top: .1rem;
      }
      .price {
        font-size: 0.24rem;
      }
      .name {
        color: #000;
      }
      .btn {
        display: block;
        margin: .2rem auto 0;
        width: 80%;
        height: 0.6rem;
        color: #fff;
        font-size: 0.32rem;
        background: #8c8c8c;
        line-height: 0.6rem;
      }
      &--on {
        .btn {
          background: red;
        }
      }
    }

  }
  &__load {
    position: relative;
    top: -1px;
    border-top: 1px solid #ebebeb;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #000;
    font-size: 0.24rem;
  }
}