@charset "utf-8";

/*-----------------
 * zhangzhensheng
 * 2017-10-08
 *-----------------*/
@import '../../widgets/common';
@import '../../widgets/nav';
@import '../../widgets/header';

.userinfo {
  background: #f5f3f2;
  &__tt {
    display: block;
    color: #000;
  }
  &__ct {
    float: right;
    margin-right: 1rem;
    img {
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
    }
  }
  &__item {
    position: relative;
    border: 1px solid #ebebeb;
    border-bottom: none;
    height: 1rem;
    line-height: 1rem;
    text-indent: 1em;
    background: #fff;
    &:last-child {
      border-bottom: 1px solid #ebebeb;
    }
    &:after {
      content: '>';
      position: absolute;
      right: 0;
      top: 0;
      width: 0.6rem;
      line-height: 1rem;
      color: #cac9ce;
      font-size: 0.3rem;
      text-align: center;
      text-indent: 0;
    }
    &-1 {
      border-top: none;
      border-bottom: 1px solid #ebebeb;
      margin-bottom: .2rem;
      height: 2rem;
      line-height: 2rem;
      &:after {
        line-height: 2rem;
      }
    }
  }
}