@charset "utf-8";

/*-----------------
 * zhangzhensheng
 * 2017-10-08
 *-----------------*/
@import '../../widgets/common';
@import '../../widgets/nav';
@import '../../widgets/header';

.userinfo {
  background: #f5f3f2;
  &__tt {
    display: block;
    color: #000;
  }
  &__ct {
    float: right;
    margin-right: 1rem;
    img {
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
    }
  }
  &__item {
    position: relative;
    border: 1px solid #ebebeb;
    border-bottom: none;
    height: 1rem;
    line-height: 1rem;
    text-indent: 1em;
    background: #fff;
    &:last-child {
      border-bottom: 1px solid #ebebeb;
    }
    &:after {
      content: '>';
      position: absolute;
      right: 0;
      top: 0;
      width: 0.6rem;
      line-height: 1rem;
      color: #cac9ce;
      font-size: 0.3rem;
      text-align: center;
      text-indent: 0;
    }
    &-1 {
      border-top: none;
      border-bottom: 1px solid #ebebeb;
      margin-bottom: .2rem;
      height: 2rem;
      line-height: 2rem;
      &:after {
        line-height: 2rem;
      }
    }
  }
  &__name,
  &__phone,
  &__code {
    box-sizing: border-box;
    display: inline-block;
    padding: .15rem 0;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    text-indent: .2rem;
  }
  &__code {
    width: 50%;
  }
  &__send {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 0 .2rem .2rem;
    padding: 0 .2rem;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    height: 100%;
    line-height: .8rem;
    text-align: center;
    -webkit-appearance: none;
    background: #f5f3f2;
  }
  &__photo {
    border: 1px solid #000;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &__form-item {
    margin-bottom: .2rem;
    height: 0.8rem;
  }
}
