@charset "UTF-8";
/*-----------------
 * zhangzhensheng
 * 2017-10-04
 *-----------------*/
/* 主体居中 */
.mid-wrap {
  margin: 0 auto;
  width: 7.5rem; }

/* 主要样式 */
body {
  font-size: 0.26rem; }

/* 清除浮动 */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    line-height: 0; }
  .clearfix:after {
    clear: both; }

/* 加载更多 */
.more-load {
  position: relative;
  top: -1px;
  border-top: 1px solid #ebebeb;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #000;
  font-size: 0.24rem; }

.main-nav {
  position: fixed;
  z-index: 900;
  display: flex;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ebebeb;
  width: 100%;
  background: #f5f3f2; }
  .main-nav__item {
    flex: 1;
    text-align: center;
    height: .9rem;
    line-height: .9rem;
    color: #000; }
    .main-nav__item--on {
      color: red; }

.main-header {
  position: relative;
  width: 100%;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  background: #ff2d4a;
  font-size: 0.36rem; }
  .main-header__title {
    color: #fff; }
  .main-header__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem; }

.sub-header {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  text-align: center;
  height: .8rem;
  line-height: .8rem;
  background: #fff;
  font-size: 0.32rem; }
  .sub-header__title {
    color: #000; }
  .sub-header__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem; }

.evaluate {
  background: #fff; }
  .evaluate__link {
    position: absolute;
    width: 100%;
    height: 100%; }
  .evaluate__item {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ebebeb; }
    .evaluate__item-left {
      width: 1rem;
      text-align: center; }
      .evaluate__item-left img {
        margin-top: .3rem;
        display: inline-block;
        width: 0.6rem;
        height: 0.6rem;
        vertical-align: bottom;
        border-radius: 50%;
        background: pink; }
    .evaluate__item-right {
      flex: 1; }
    .evaluate__item-name {
      line-height: .3rem;
      margin: .4rem 0 .2rem;
      font-size: 0.3rem; }
      .evaluate__item-name .time {
        float: right;
        margin-right: 2em;
        font-size: 0.2rem; }
    .evaluate__item-ct {
      margin-bottom: .2rem;
      display: flex;
      color: #333; }
    .evaluate__item-pic {
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem; }
      .evaluate__item-pic img {
        display: inline-block;
        width: 100%;
        height: 100%;
        vertical-align: bottom; }
