@charset "UTF-8";
/*-----------------
 * zhangzhensheng
 * 2017-09-20
 *-----------------*/
/* 主体居中 */
.mid-wrap {
  margin: 0 auto;
  padding-top: 1rem;
  width: 7.5rem; }

/* 主要样式 */
body {
  font-size: 0.24rem; }

/* 清除浮动 */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    line-height: 0; }
  .clearfix:after {
    clear: both; }

/* 加载更多 */
.more-load {
  position: relative;
  top: -1px;
  border-top: 1px solid #ebebeb;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #000;
  font-size: 0.24rem; }

.main-nav {
  position: fixed;
  z-index: 900;
  display: flex;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ebebeb;
  width: 100%;
  background: #f5f3f2; }
  .main-nav__item {
    flex: 1;
    text-align: center;
    height: .9rem;
    line-height: .9rem;
    color: #000; }
    .main-nav__item--on {
      color: red; }

.main-header {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  background: #ff2d4a;
  font-size: 0.36rem; }
  .main-header__title {
    color: #fff; }
  .main-header__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem; }

.index {
  background-color: #f5f3f2; }
  .index__slider {
    max-width: 7.5rem;
    height: 3.66rem;
    overflow: hidden;
    background: #fff; }
    .index__slider img {
      width: 100%;
      vertical-align: bottom; }
  .index__entry {
    display: flex;
    padding-bottom: .2rem;
    background: #fff; }
    .index__entry-item {
      flex: 1;
      text-align: center;
      font-size: 0.28rem;
      color: #000; }
      .index__entry-item img {
        display: block;
        margin: .4rem auto .1rem;
        border-radius: 50%;
        border: none;
        width: 0.7rem;
        height: 0.7rem;
        background: orange; }
  .index__notify {
    padding: .1rem 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    font-size: 0.28rem;
    text-indent: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .index__hot {
    display: flex;
    background: #fff; }
    .index__hot-goods {
      flex: 1;
      margin: .3rem 0;
      font-size: 0.28rem;
      color: #000;
      text-align: center; }
      .index__hot-goods img {
        width: 100%;
        height: 2.5rem;
        vertical-align: bottom; }
      .index__hot-goods span {
        display: inline-block;
        width: 100%; }
      .index__hot-goods .yen {
        margin: .2rem 0;
        color: red; }
  .index__auction {
    margin-top: .2rem;
    background: #fff; }
    .index__auction-tab {
      display: flex;
      border-bottom: 1px solid #ebebeb; }
      .index__auction-tab a {
        flex: 1;
        color: #000;
        font-size: 0.28rem;
        line-height: 0.8rem;
        text-align: center; }
      .index__auction-tab .on {
        color: red; }
    .index__auction-list {
      display: flex;
      flex-wrap: wrap; }
    .index__auction-item {
      width: 50%;
      box-sizing: border-box;
      padding: .3rem 0;
      border-bottom: 1px solid #ebebeb;
      text-align: center;
      font-size: 0.28rem;
      line-height: 0.4rem; }
      .index__auction-item:nth-child(2n-1) {
        border-right: 1px solid #ebebeb; }
      .index__auction-item img,
      .index__auction-item span {
        display: inline-block;
        width: 100%;
        vertical-align: bottom;
        text-align: center; }
      .index__auction-item img {
        width: 80%; }
      .index__auction-item .price,
      .index__auction-item .time {
        color: red; }
      .index__auction-item .time {
        margin-top: .1rem; }
      .index__auction-item .price {
        font-size: 0.24rem; }
      .index__auction-item .name {
        color: #000; }
      .index__auction-item .btn {
        display: block;
        margin: .2rem auto 0;
        width: 80%;
        height: 0.6rem;
        color: #fff;
        font-size: 0.32rem;
        background: #8c8c8c;
        line-height: 0.6rem; }
      .index__auction-item--on .btn {
        background: red; }
  .index__load {
    position: relative;
    top: -1px;
    border-top: 1px solid #ebebeb;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #000;
    font-size: 0.24rem; }
