@charset "UTF-8";
/*-----------------
 * zhangzhensheng
 * 2017-09-20
 *-----------------*/
/* 主体居中 */
.mid-wrap {
  margin: 0 auto;
  width: 7.5rem; }

/* 主要样式 */
body {
  font-size: 0.3rem; }

/* 清除浮动 */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    line-height: 0; }
  .clearfix:after {
    clear: both; }

/* 加载更多 */
.more-load {
  position: relative;
  top: -1px;
  border-top: 1px solid #ebebeb;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #000;
  font-size: 0.24rem; }

.hidden {
  display: none; }

/* iconfont */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.main-nav {
  position: fixed;
  z-index: 900;
  display: flex;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ebebeb;
  width: 100%;
  background: #f5f3f2; }
  .main-nav__item {
    flex: 1;
    text-align: center;
    height: .9rem;
    color: #000;
    font-size: 0.24rem; }
    .main-nav__item--on {
      color: red; }
  .main-nav svg {
    display: block;
    margin: .1rem auto;
    border: none;
    width: .3rem;
    height: .3rem; }

.main-header {
  position: relative;
  width: 100%;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  background: #ff2d4a;
  font-size: 0.36rem; }
  .main-header__title {
    color: #fff; }
  .main-header__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem; }

.sub-header {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  text-align: center;
  height: .8rem;
  line-height: .8rem;
  background: #fff;
  font-size: 0.32rem; }
  .sub-header__title {
    color: #000; }
  .sub-header__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem; }
  .sub-header .icon {
    width: 0.6em;
    height: 0.6em;
    vertical-align: middle; }

.goback {
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  line-height: .8rem;
  color: #000;
  font-size: .6rem;
  text-align: center; }

.item {
  position: relative;
  background-color: #f5f3f2;
  padding-bottom: 1.1rem; }
  .item__slider {
    max-width: 7.5rem;
    height: 3.66rem;
    overflow: hidden;
    background: #fff; }
    .item__slider img {
      width: 100%;
      vertical-align: bottom; }
  .item__main-info {
    display: flex;
    height: 1.1rem;
    line-height: 1.1rem;
    background: #ff2d4a;
    font-size: 0.6rem;
    color: #fff; }
    .item__main-info .price-3 {
      background: rgba(0, 0, 0, 0.2);
      text-decoration: line-through; }
    .item__main-info .price-1 {
      flex: 1;
      margin: 0 .4rem; }
    .item__main-info .price-2 {
      margin: .1rem .4rem 0;
      font-size: 0.24rem;
      text-align: right;
      line-height: 0.4rem; }
    .item__main-info .time {
      flex: 1;
      padding: .1rem 0 0;
      width: 2.8rem;
      line-height: 0.4rem;
      background: #ffda1e;
      color: #ff2d4a;
      font-size: 0.24rem;
      text-align: center; }
      .item__main-info .time em {
        font-size: 0.4rem;
        color: #63171c;
        font-family: "Arial"; }
  .item__name {
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    font-size: 0.36rem;
    color: #000;
    text-indent: 1em; }
  .item__notify {
    position: relative;
    padding: .1rem 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    height: .8rem;
    line-height: 0.8rem;
    font-size: 0.28rem;
    text-indent: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .item__notify .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1em;
      color: red;
      margin-right: .2rem; }
  .item__record {
    background: #ffffff; }
    .item__record-tt {
      position: relative;
      border-bottom: 1px solid #ebebeb;
      height: 0.8rem;
      line-height: 0.8rem;
      text-indent: 1em; }
      .item__record-tt .icon {
        margin-right: .2rem; }
      .item__record-tt span {
        float: right;
        margin-right: .8rem;
        color: #8c8c8c; }
      .item__record-tt a {
        display: block;
        color: #000; }
      .item__record-tt:after {
        content: '>';
        position: absolute;
        right: 0;
        top: 0;
        width: 0.6rem;
        color: #cac9ce;
        font-size: 0.3rem;
        text-align: center;
        text-indent: 0; }
    .item__record-item {
      display: flex;
      height: 0.75rem;
      line-height: 0.75rem;
      overflow: hidden; }
      .item__record-item span {
        flex: 1;
        text-align: center; }
      .item__record-item .span-1 {
        flex: none;
        width: 2rem; }
      .item__record-item--on {
        color: #ff2d4a; }
  .item__buy {
    margin-top: .15rem;
    background: #ffffff; }
    .item__buy-tt {
      position: relative;
      border-bottom: 1px solid #ebebeb;
      height: 0.8rem;
      line-height: 0.8rem;
      text-indent: 1em; }
    .item__buy-ct {
      position: relative;
      display: none;
      border-bottom: 1px solid #ebebeb;
      height: 0.8rem;
      line-height: 0.8rem;
      text-indent: 2em; }
  .item__detail {
    display: flex;
    flex-wrap: wrap;
    margin-top: .15rem;
    padding: .2rem 0;
    background: #fff; }
    .item__detail-item {
      width: 50%;
      line-height: 0.5rem;
      text-align: left;
      text-indent: 1em; }
      .item__detail-item em {
        color: #ff2d4a; }
  .item__promise {
    margin-top: .15rem;
    height: 1.4rem;
    background: #fff;
    text-align: center; }
    .item__promise img {
      height: 100%;
      vertical-align: middle; }
  .item__other {
    margin-top: .15rem;
    background: #fff; }
  .item__tab {
    display: flex;
    border-bottom: 1px solid #ebebeb; }
    .item__tab-item {
      flex: 1;
      height: 0.6rem;
      line-height: 0.6rem;
      text-align: center;
      color: #000; }
      .item__tab-item--on {
        color: #ff2d4a; }
  .item__item {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ebebeb;
    padding: .3rem 0;
    background: #fff; }
  .item__info {
    margin-left: .1rem;
    width: 3rem;
    line-height: 0.36rem;
    font-size: 0.26rem; }
  .item__oper {
    line-height: 0.42rem;
    text-align: right; }
    .item__oper .btn {
      display: inline-block;
      margin: .4rem auto 0;
      width: 90%;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      background: red;
      color: #fff; }
    .item__oper .time {
      font-size: 0.24rem; }
    .item__oper .discount {
      flex: 1;
      margin-top: .1rem;
      font-size: 0.24rem; }
      .item__oper .discount em {
        margin-left: .1rem;
        font-size: 0.6rem;
        vertical-align: sub; }
  .item__img {
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden; }
    .item__img img {
      width: 100%;
      vertical-align: bottom; }
  .item__evaluate-item {
    display: flex;
    border-bottom: 1px solid #ebebeb; }
  .item__evaluate-left {
    width: 1rem;
    text-align: center; }
    .item__evaluate-left img {
      margin-top: .3rem;
      display: inline-block;
      width: 0.6rem;
      height: 0.6rem;
      vertical-align: bottom;
      border-radius: 50%;
      background: pink; }
  .item__evaluate-right {
    flex: 1; }
  .item__evaluate-name {
    line-height: .26rem;
    margin: .4rem 0 .2rem; }
    .item__evaluate-name .time {
      float: right;
      margin-right: 2em;
      font-size: 0.2rem; }
  .item__evaluate-ct {
    margin-bottom: .2rem;
    display: flex;
    color: #333; }
  .item__evaluate-pic {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem; }
    .item__evaluate-pic img {
      display: inline-block;
      width: 100%;
      height: 100%;
      vertical-align: bottom; }
  .item__history-item {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ebebeb;
    padding: .3rem 0;
    background: #fff; }
  .item__history-info {
    margin-left: .1rem;
    width: 3rem;
    line-height: 0.36rem;
    font-size: 0.26rem; }
  .item__history-oper {
    line-height: 0.42rem;
    text-align: right; }
    .item__history-oper .btn {
      display: inline-block;
      margin: .4rem auto 0;
      width: 90%;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      background: red;
      color: #fff; }
    .item__history-oper .time {
      font-size: 0.24rem; }
    .item__history-oper .discount {
      flex: 1;
      margin-top: .1rem;
      font-size: 0.24rem; }
      .item__history-oper .discount em {
        margin-left: .1rem;
        font-size: 0.6rem;
        vertical-align: sub; }
  .item__history-img {
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden; }
    .item__history-img img {
      width: 100%;
      vertical-align: bottom; }
  .item__rule {
    box-sizing: border-box;
    padding: .2rem; }
    .item__rule p {
      margin-bottom: .2rem; }
  .item__auction {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 900;
    display: flex;
    border-top: 1px solid #ebebeb;
    width: 100%;
    height: 1.1rem;
    line-height: 1.1rem;
    background: #fff; }
    .item__auction > * {
      text-align: center; }
    .item__auction .kefu,
    .item__auction .fav {
      width: 0.9rem;
      color: #000;
      font-size: 0.2rem;
      text-align: center;
      line-height: 0.32rem; }
      .item__auction .kefu span,
      .item__auction .fav span {
        display: inline-block;
        width: 100%; }
      .item__auction .kefu .icon,
      .item__auction .fav .icon {
        margin-top: .2rem;
        color: #8c8c8c;
        width: 0.4rem;
        height: 0.4rem; }
    .item__auction .btn {
      width: 1.5rem;
      background: #ff2d4a;
      color: #fff;
      font-size: 0.4rem; }
    .item__auction .spinner {
      flex: 1;
      display: flex;
      border: 1px solid #000;
      margin: .15rem .3rem;
      border-radius: .06rem; }
      .item__auction .spinner > * {
        flex: 1;
        display: inline-block;
        text-align: center;
        font-size: 0.4rem;
        line-height: .78rem; }
      .item__auction .spinner input {
        width: 0.8rem;
        border-radius: 0;
        font-size: 0.32rem;
        border-left: 1px solid #000;
        border-right: 1px solid #000; }
