@charset "UTF-8";
/*-----------------
 * zhangzhensheng
 * 2017-09-20
 *-----------------*/
/* 主体居中 */
.mid-wrap {
  margin: 0 auto;
  width: 7.5rem; }

/* 主要样式 */
body {
  font-size: 0.3rem; }

/* 清除浮动 */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    line-height: 0; }
  .clearfix:after {
    clear: both; }

/* 加载更多 */
.more-load {
  position: relative;
  top: -1px;
  border-top: 1px solid #ebebeb;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #000;
  font-size: 0.24rem; }

.hidden {
  display: none; }

/* iconfont */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.main-nav {
  position: fixed;
  z-index: 900;
  display: flex;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ebebeb;
  width: 100%;
  background: #f5f3f2; }
  .main-nav__item {
    flex: 1;
    text-align: center;
    height: .9rem;
    color: #000;
    font-size: 0.24rem; }
    .main-nav__item--on {
      color: red; }
  .main-nav svg {
    display: block;
    margin: .1rem auto;
    border: none;
    width: .3rem;
    height: .3rem; }

.main-header {
  position: relative;
  width: 100%;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  background: #ff2d4a;
  font-size: 0.36rem; }
  .main-header__title {
    color: #fff; }
  .main-header__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem; }

.sub-header {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  text-align: center;
  height: .8rem;
  line-height: .8rem;
  background: #fff;
  font-size: 0.32rem; }
  .sub-header__title {
    color: #000; }
  .sub-header__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem; }

.goback {
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  line-height: .8rem;
  color: #000;
  font-size: .6rem;
  text-align: center; }

.new {
  background: #f5f3f2; }
  .new__notify {
    position: relative;
    padding: .1rem 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    font-size: 0.28rem;
    text-indent: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .new__notify .list {
      position: relative;
      height: 0.6rem;
      animation: scroll 4s infinite linear; }
    .new__notify .item {
      height: 0.6rem;
      line-height: 0.6rem; }

@keyframes scroll {
  0% {
    top: 0; }
  14% {
    top: 0; }
  28% {
    top: -.6rem; }
  42% {
    top: -.6rem; }
  56% {
    top: -1.2rem; }
  70% {
    top: -1.2rem; }
  84% {
    top: -1.8rem; }
  100% {
    top: -1.8rem; } }
    .new__notify .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1em;
      color: red;
      margin-right: .2rem; }
  .new__list {
    padding: 0 .2rem;
    background: #fff; }
  .new__item {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ebebeb;
    padding: .3rem 0;
    background: #fff; }
  .new__info {
    margin-left: .1rem;
    width: 3rem;
    line-height: 0.36rem;
    font-size: 0.26rem; }
  .new__oper {
    line-height: 0.42rem;
    text-align: right; }
    .new__oper .btn {
      display: inline-block;
      margin: .4rem auto 0;
      width: 90%;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      background: red;
      color: #fff; }
    .new__oper .time {
      font-size: 0.24rem; }
    .new__oper .discount {
      flex: 1;
      margin-top: .1rem;
      font-size: 0.24rem; }
      .new__oper .discount em {
        margin-left: .1rem;
        font-size: 0.6rem;
        vertical-align: sub; }
  .new__img {
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden; }
    .new__img img {
      width: 100%;
      vertical-align: bottom; }
