@charset "UTF-8";
/*-----------------
 * zhangzhensheng
 * 2017-10-04
 *-----------------*/
/* 主体居中 */
.mid-wrap {
  margin: 0 auto;
  width: 7.5rem; }

/* 主要样式 */
body {
  font-size: 0.26rem; }

/* 清除浮动 */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    line-height: 0; }
  .clearfix:after {
    clear: both; }

/* 加载更多 */
.more-load {
  position: relative;
  top: -1px;
  border-top: 1px solid #ebebeb;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #000;
  font-size: 0.24rem; }

.main-nav {
  position: fixed;
  z-index: 900;
  display: flex;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ebebeb;
  width: 100%;
  background: #f5f3f2; }
  .main-nav__item {
    flex: 1;
    text-align: center;
    height: .9rem;
    line-height: .9rem;
    color: #000; }
    .main-nav__item--on {
      color: red; }

.main-header {
  position: relative;
  width: 100%;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  background: #ff2d4a;
  font-size: 0.36rem; }
  .main-header__title {
    color: #fff; }
  .main-header__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem; }

.sub-header {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  text-align: center;
  height: .8rem;
  line-height: .8rem;
  background: #fff;
  font-size: 0.32rem; }
  .sub-header__title {
    color: #000; }
  .sub-header__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem; }

.recharge {
  background: #f5f3f2;
  padding-bottom: 2rem; }
  .recharge__tt {
    color: #8c8c8c;
    font-size: 0.2rem;
    height: 0.7rem;
    line-height: 0.9rem;
    text-indent: 1em; }
  .recharge__money {
    padding-top: .3rem;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    font-size: 0;
    text-align: center; }
    .recharge__money-item {
      display: inline-block;
      border: 1px solid #ebebeb;
      margin: 0 .15rem .3rem;
      width: 2rem;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      font-size: 0.36rem;
      color: #000; }
      .recharge__money-item input {
        display: inline-block;
        width: 80%;
        text-align: center; }
      .recharge__money-item--on {
        border-color: #ff2d4a; }
  .recharge__result {
    background: #fff;
    height: 0.8rem;
    line-height: 0.8rem;
    text-indent: 1em; }
  .recharge__price {
    float: right;
    margin-right: 1em;
    color: #ff2d4a; }
  .recharge__way-item {
    border-bottom: 1px solid #ebebeb;
    height: 0.8rem;
    line-height: 0.8rem;
    text-indent: 1em;
    background: #fff; }
    .recharge__way-item::first-child {
      border-top: 1px solid #ebebeb; }
  .recharge__protocol {
    height: 1rem;
    line-height: 1.2rem;
    text-indent: 1em; }
    .recharge__protocol a {
      color: #ff2d4a; }
    .recharge__protocol input[type=checkbox] {
      margin-right: .1rem;
      vertical-align: middle;
      background: #fff; }
  .recharge__submit {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: .8rem;
    line-height: .8rem;
    background: #ff2d4a;
    color: #fff;
    text-align: center; }
