@charset "utf-8";

/*-----------------
 * zhangzhensheng
 * 2017-10-08
 *-----------------*/
@import '../../widgets/common';
@import '../../widgets/nav';
@import '../../widgets/header';

.address {
  &__form-item {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    min-height: 1rem;
    line-height: 1rem;
    label {
      min-width: 2rem;
      text-indent: 1em;
    }
    input {
      flex: 1;
      margin-left: .2rem;
    }
    textarea {
      border: none;
      border-radius: 0;
      margin: .2rem .2rem .2rem 0;
      padding: .1rem;
      width: 100%;
      background: #f5f3f2;
    }
  }
}