.main-header {
  position: relative;
  width: 100%;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  background: #ff2d4a;
  font-size: 0.36rem;
  &__title {
    color: #fff;
  }
  &__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem;
  }
}
.sub-header {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  text-align: center;
  height: .8rem;
  line-height: .8rem;
  background: #fff;
  font-size: 0.32rem;
  &__title {
    color: #000;
  }
  &__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem;
  }
  .icon {
    width: 0.6em;
    height: 0.6em;
    vertical-align: middle;
  }
}
.goback {
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  line-height: .8rem;
  color: #000;
  font-size: .6rem;
  text-align: center;
}