.main-header {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 0.9rem;
  line-height: 0.9rem;
  background: #ff2d4a;
  font-size: 0.36rem;
  &__title {
    color: #fff;
  }
  &__home {
    position: absolute;
    right: 0;
    top: 0;
    width: 0.9rem;
    color: #fff;
    font-size: 0.24rem;
  }
}